.main_screen { 
    height: auto; 
    display: flex;
    place-items: center;
    padding-top: 10vh;
    & h1 { 
        font-size: 52px;
    }
    & h2 { 
        font-size: 42px; 
        font-weight: 450;
    }
    & h3 { 
        font-size: 30px; 
        font-weight: 300;
    }
    &.mobile {
        padding: 11vh 0 2vh;
        height: auto;
        flex-direction: column;
        & h1 {
            font-size: 24px;
        }
        & h2 {
            font-size: 16px;
        }
        & h3 {
            font-size: 15px;
        }
    }
}

.face_block { 
    width: 45%; 
    & img {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    &.mobile {
        width: 95vw;
        margin: 0 5vw;
    }
}

.aboutme_block { 
    align-content: center;
    width: 55%;
    &.mobile {
        width: 100%;
        text-align: center;
    }
}

.title {
    background: linear-gradient(to right, #4824ff, #4824ff,
    #85ebff, var(--main-elements-color), #eeebff, #85aeff, #4824ff,#4824ff);
    background-clip: text; 
    color: transparent; 
    background-size: 200%;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 200% 50% }
    100% { background-position: 0% 50% }
}



// .first-image-layer { 
//     position: absolute; 
//     height: 550px;
// }
// .second-image-layer {
//     animation: bouncing 5s linear infinite; 
//     height: 550px; 
//     width: 550px;
// }
// .third-image-layer { 
//     height: 550px;
//     position: absolute;
//     margin-left: -550px; 
//     margin-top: 24px;
// }
// .fourth-image-layer { 
//     height: 550px;
//     position: absolute; 
//     margin-left: -500px; 
//     margin-top: 24px;
// }
// .fifth-image-layer {
//     height: 550px;
//     position: absolute; 
//     margin-left: -1100px; 
//     margin-top: 24px;
// }

// @keyframes bouncing {
//     0% { transform: translateY(0)}
//     50% { transform: translateY(20px)}
//     0% { transform: translateY(0)}
// }