.main_screen { 
    height: auto; 
    display: flex;
    place-items: center;
    padding-top: 10vh;
    & h1 { 
        font-size: 52px;
    }
    & h2 { 
        font-size: 42px; 
        font-weight: 450;
    }
    & h3 { 
        font-size: 30px; 
        font-weight: 300;
    }
    &.mobile {
        padding: 11vh 0 2vh;
        height: auto;
        flex-direction: column;
        & h1 {
            font-size: 24px;
        }
        & h2 {
            font-size: 16px;
        }
        & h3 {
            font-size: 15px;
        }
    }
}

.face_block { 
    width: 45%; 
    & img {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    &.mobile {
        width: 95vw;
        margin: 0 5vw;
    }
}

.aboutme_block { 
    align-content: center;
    width: 55%;
    &.mobile {
        width: 100%;
        text-align: center;
    }
}

.title {
    background: linear-gradient(to right, #4824ff, #4824ff,
    #85ebff, var(--main-elements-color), #eeebff, #85aeff, #4824ff,#4824ff);
    background-clip: text; 
    color: transparent; 
    background-size: 200%;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 200% 50% }
    100% { background-position: 0% 50% }
}

// .btn {
//     position: relative;
//     height: 55px;
//     width: 165px;
//     border-radius: 55px;
//     background: #4824ff;
//     border: none;
//     color: #fff;
//     font-weight: 500;
//     font-size: 18px;
//     transition: 0.5s ease-in-out;
//     overflow: hidden;
//     margin-right: 2%;
//     cursor: pointer;
//     outline: none;
//     &_mobile {
//         margin-right: 0;
//         margin-top: 5vw;
//         height: 18vw;
//         width: 60vw;
//     }
//     &:hover {
//         filter: drop-shadow(0 0 50px #4824ff40);
//     }
//     &:before {
//         content: '';
//         position: absolute;
//         height: 300px;
//         width: 30px;
//         background: #ffffffbd;
//         filter: blur(2px);
//         transition: 1.5s;
//         transform: rotate(-20deg) translateX(-50px) translateY(-200px);
//     }
//     &:hover:before {
//         transform: rotate(-20deg) translateX(200px);
//     }
// }



// .first-image-layer { 
//     position: absolute; 
//     height: 550px;
// }
// .second-image-layer {
//     animation: bouncing 5s linear infinite; 
//     height: 550px; 
//     width: 550px;
// }
// .third-image-layer { 
//     height: 550px;
//     position: absolute;
//     margin-left: -550px; 
//     margin-top: 24px;
// }
// .fourth-image-layer { 
//     height: 550px;
//     position: absolute; 
//     margin-left: -500px; 
//     margin-top: 24px;
// }
// .fifth-image-layer {
//     height: 550px;
//     position: absolute; 
//     margin-left: -1100px; 
//     margin-top: 24px;
// }

// @keyframes bouncing {
//     0% { transform: translateY(0)}
//     50% { transform: translateY(20px)}
//     0% { transform: translateY(0)}
// }