.service-block {
    height: 70px;
    margin-left: -5vw; 
    margin-right: -5vw; 
    padding: 0 5vw; 
    background: var(--service-background);
    align-content: center;
    &.mobile {
        margin-top: 40vw;
    }
}
.rotating-icon {
    display: inline-block;
    animation: rotate 15s linear infinite;
    margin-right: 20px;
    &.mobile {
        width: 75px;
        height: 75px;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }