.image-gallery { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 5vw; 
    margin-right: 5vw;
}
.image-grid { 
    display: flex; 
    flex-wrap: wrap;
    max-height: calc(200px * var(--visible-rows));
    overflow: hidden;
}
.gallery-image { 
    width: auto; 
    height: 200px; 
    border-radius: 16px;
    margin: 10px;
    cursor: pointer;
}

.show-more-button {
    display: flex; 
    font-size: 22px; 
    margin-top: 10px;
    padding: 10px 10px 10px 38px; 
    background-color: #4824ff;
    color: #fff;
    border: none; 
    cursor: pointer; 
    border-radius: 12px;
    transition: 0.5s ease-in-out;
}

.show-more-button:hover {
    background-color: #000;
    filter: drop-shadow(0px 8px 38px #4824ff25);
}
.more-icon {
    margin: -10px 0; 
    padding: 0;
    position: relative;
    content: url(/icons/more.svg);
    background: none;
    scale: 0.6; 
    height: 50px;
}