.modal_menu_backdrop { 
    position: fixed;
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
.modal_menu_content { 
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 10vw;
    position: relative;
    background: #fff;
    color: #000;
    border-radius: 16px;
    width: 50vw; 
    height: 58vw;
    font-size: 7vw;
    border: 3px solid #eeebff;
    line-height: 12vw;
    transform: translateY(-2vh); 
    transition: transform 0.5s ease;
    z-index: 1001;
    & a {
        padding: 1vw 6vw;
        border-bottom: 0.5vw solid #eeebff50;
        &:last-child {
            border-bottom: none;
        }
    }

}

.modal-menu-backdrop.show .modal-menu-content {
    transform: translateY(0);
}