.guarantees_block{
    height: auto; 
    font-size: 26px;
    &.mobile {
        font-size: 19px;
    }
}
.guarantees_points{
    list-style-type: none; 
    padding-left: 20px;
    & li {
        position: relative; 
        padding-left: 60px;
        &.mobile {
            padding-left: 30px;
            margin-top: 35px;
        }
        &::before { 
            content: '';
            position: absolute;
            left: 0; 
            transform: translateY(-10%);
            width: 40px; 
            height: 40px;
            background-image: url(./icons/mark.svg);
            background-size: contain; 
            background-repeat: no-repeat;
            margin-left: -20px;
        }
    }
}
.point {
    margin-top: 35px;
}