
*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    background-color: #4824ff;
}
*::-webkit-scrollbar-track {
    background-color: #ffffff01;
}
html[data-theme='light'] {
    --main-background: #fff;
    --header-background: #ffffffe1;
    --service-background: #fbfaff;
    --main-text-color: #000;
    --switch-background: #eeebff;
    --theme-background: #fff;
    --title-border-color: #4824ff30;
    --main-elements-color: #eeebff;
    --elements-color: #eeebff;
    --elements-text-color: #fff;
    --tag-text-color: #4824ff;
    --selected-tag-background: #04001a;
    --footer-background: #f7f5fe;
    --footer-text: #000;
}
html[data-theme='dark'] {
    --main-background: #04001a;
    --header-background: #04001ae1;
    --service-background: #060026;
    --main-text-color: #fff;
    --switch-background: #120940;
    --theme-background: #4824ff;
    --title-border-color: #eeebff25;
    --main-elements-color: #4824ff;
    --elements-color: #080033;
    --elements-text-color: #000;
    --tag-text-color: #fff;
    --selected-tag-background: #fff;
    --footer-background: #060026;
    --footer-text: #fff;
}

@font-face {
    font-family: 'Onest';
    src: url('/Onest.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Prata';
    src: url('/Prata.ttf') format('truetype');
}

body {
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-top: 0; margin-bottom: 0; 
    font-family: "Onest";
    // src: url("public/Onest.ttf");
    // src: url("public/Prata.ttf");
    background: var(--main-background);
    color: var(--main-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #000;
    text-decoration: inherit;
}
